<html>
    <head>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    </head>
    <body>
        <div class="d-flex justify-content-center">
        <div class="card">
            <div class="bg-info card-header">
                <h1>Registration</h1>
            </div>
            <div class="bg-warning card-body">
                <form class="container">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Full Name" />
                        <div class="input-group-text">
                            <i class="bi bi-person-circle"></i>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="E-mail" />
                        <div class="input-group-text">
                            <i class="bi bi-envelope-fill"></i>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Password" />
                        <div class="input-group-text">
                            <i class="bi bi-shield-lock"></i>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control" placeholder="Confirm Password" />
                        <div class="input-group-text">
                            <i class="bi bi-shield-lock-fill"></i>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <input type="checkbox" class="form-check-input" />
                            <label class="form-check-label">I agree</label>
                        </div>
                        <div class="col-4">
                            <button class="btn btn-primary btn-block">
                                Save
                            </button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
        </div>
    </body>
</html>
